<br/>
<div>
  <table  CELLPADDING="10" CELLSPACING="10" WIDTH="1250">
    <tr>
      <td>Name:</td>
      <td>{{eventObj.name}}</td>
    </tr>
    <tr>
      <td>Start Date:</td>
      <td>{{eventObj.startDate}}</td>
    </tr>
    <tr>
      <td>End Date:</td>
      <td>{{eventObj.endDate}}</td>
    </tr>
    <tr>
      <td>Bookings:</td>
      <td>{{eventObj.bookings}}</td>
    </tr>
    <tr>
      <td>Status:</td>
      <td><h6 [ngClass]="{'grey': eventObj.status=='ended', 'green':eventObj.status=='active'}">{{eventObj.status}}</h6></td>
    </tr>
    <tr>
      <td>Event Type</td>
      <td>{{eventObj.type}}</td>
    </tr>
</table><br/>
</div>

<br/>

<table CELLPADDING="10" CELLSPACING="10" WIDTH="1250" class="css-serial"  >
  <thead>
    <th width='50'>Sno</th>
    <th>Name</th>
    <th>Status</th>
    <th>Type</th>
  </thead>
  <tbody *ngFor="let eve of event2">
    
        <tr *ngIf="eve.type=='Stage Event'">
            <td width='70' >&nbsp;</td>
            <td> <a [routerLink]="['/show-stage',eve.name]">{{eve.name}}</a></td>
            <td><h6 [ngClass]="{'grey': eve.status=='ended', 'green':eve.status=='active'}">{{eve.status}}</h6></td>
            <td>{{eve.type}}</td>
        </tr>
  </tbody>
</table>
<br/>
<br/>




