<!--The content below is only a placeholder and can be replaced.-->
<!--<app-user></app-user>
<my-app></my-app>-->
<!--<my-one></my-one>-->
<!--<my-two></my-two>-->
<!--<my-four></my-four>
<my-ex></my-ex>-->
<!--<app-course></app-course> 
<app-two></app-two>
<app-power></app-power>
<app-quote></app-quote>
<app-assignthree></app-assignthree>-->

<!--<nav>
    <a routerLink='/course'>Course details</a><br/>
    <a routerLink='/power'>caluclate power</a><br/>
</nav>
<router-outlet></router-outlet> -->


<div>
    <h2>THE EVENIRE</h2>
    <br/>
   
<nav>
    <a routerLink='./exhibition-event-list'><button style="width:200px" > Exhibition type </button></a>
    <a routerLink='./stage-event-list'><button style="width:200px">    Stage type   </button>  </a>
     
</nav>


<router-outlet></router-outlet>
</div>



 
